<p>
<small>
"It's just a
<a target="_blank" onclick="ga('send','event','pypi footer','yt fleshwound')" href="https://www.youtube.com/watch?v=mjEcj8KpuJw">flesh wound</a>
." - more about
<a onclick="ga('send','event','link','pipy footer lp crate')" target="_blank" href="https://crate.io/python/">Crate for Python</a>
|
<a onclick="ga('send','event','link','pipy footer dl crate')" target="_blank" href="https://crate.io/download/">Try Crate.IO</a>
, Your Elastic Data Store | The
<a onclick="ga('send','event','link','pipy story crate')" target="_blank" href="https://crate.io/thanks-dstufft/">History</a>
of this pypi mirror
</small>
</p>
