<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">

    <title>{% block head_title_base %}{% endblock head_title_base %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block style_base %}
      <link rel="stylesheet" href="{{ static("css/bootstrap.min.css") }}">
      <link rel="stylesheet" href="{{ static("css/bootstrap-responsive.min.css") }}">

      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

      {% if not debug %}
      <link rel="stylesheet" href="{{ static("css/crate.css") }}">
      {%- else -%}
      <link rel="stylesheet/less" href="{{ static("less/crate.less") }}">

      <script src="{{ static("js/lib/less-1.3.0.min.js") }}"></script>
      {% endif %}

      {% block extra_style %}{% endblock %}
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {#
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    #}
  </head>
  <body class="{% block body_class %}body{% endblock %}" id="{% block body_id %}body{% endblock %}">
    {% block topbar_base %}
      <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
        <div class="navbar-inner">
          <div class="container">
            {% block topbar %}
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              {% block site_brand %}
              <a class="brand" href="{{ url("home") }}">Python Package Index</a>
              <span class="brand-subline">
                provided by
                <a id="link_crate" title="Crate: The Scalable SQL Database" href="https://crate.io/overview/">Crate</a>
              </span>
              {% endblock %}

              <div class="nav-collapse">
                {% block nav %}
                {% endblock %}

                {% block account_bar %}
                  {% include "_account_bar.html" %}
                {% endblock %}
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}

    <div id="body-inner">
      <div id="content-wrapper">
        {% block body_base %}
          <div class="container">
            {% include "_messages.html" %}

            {% block body %}
            {% endblock %}
          </div>
        {% endblock %}
      </div>
      <div class="push"><!--//--></div>
    </div>

    <footer>
      <div class="footer-inner">
        <div class="container">
          {% include "_footer.html" %}
        </div>
      </div>
    </footer>

    {% block script_base %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
      <script src="{{ static("js/bootstrap.min.js") }}"></script>
      <script src="{{ static("js/lib/fayer.js") }}"></script>
      <script src="{{ static("js/ajaxCSRF.js") }}"></script>
      <script src="{{ static("js/crate.js") }}"></script>

      <!-- Segment -->
      <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on","setAnonymousId"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
          analytics.load("CV9qZc4rsvqmTtJ0YKc4VuIwPziOn9rj");
          analytics.setAnonymousId($.cookie('uid'));
          analytics.page();
          analytics.track('visited_section_pypi');
        }}();
      </script>
      <!-- @end Segment -->
      <script>
        // track links to main site
        var link_crate       = document.getElementById('link_crate');
        var link_montypython = document.getElementById('link_montypython');
        var link_python      = document.getElementById('link_python');
        var link_try_footer  = document.getElementById('link_try_footer');
        var link_try_sidebar = document.getElementById('link_try_sidebar');
        var link_history     = document.getElementById('link_history');
        analytics.trackLink(link_crate,       'clicked_link_pypi', { detail: 'header-crate'});
        analytics.trackLink(link_montypython, 'clicked_link_pypi', { detail: 'footer-montypython'});
        analytics.trackLink(link_python,      'clicked_link_pypi', { detail: 'footer-python'});
        analytics.trackLink(link_try_footer,  'clicked_link_pypi', { detail: 'footer-try'});
        analytics.trackLink(link_try_sidebar, 'clicked_link_pypi', { detail: 'sidebar-try'});
        analytics.trackLink(link_history,     'clicked_link_pypi', { detail: 'footer-history'});
      </script>
      {% block extra_script %}{% endblock %}
    {% endblock %}
  </body>
</html>
